<% var error, title %>
<%- include('partials/header') %>

<section class="auth-section register">
    <div class="auth-card mb-30">
        <h2>Регистрация</h2>

        <% if (error) { %>
            <div class="alert"><%= error.substring(6) %></div>
        <% } %>

        <form class="auth__form" action="/signup/filling" method="post">
            <label class="auth-label">
                <span>Имя</span>
                <input class="input" type="text" id="name" name="name" placeholder="Имя" data-name="true">
            </label>
            <label class="auth-label">
                <span>E-mail</span>
                <input class="input" type="email" id="email" name="email" placeholder="E-mail">
            </label>
            <label class="auth-label">
                <span>Пароль</span>
                <input class="input" type="password" id="password" name="password" placeholder="Пароль">
            </label>
            <label class="auth-checkbox">
                <input class="visually-hidden" type="checkbox" name="agreement">
                <span class="auth-checkbox-rectangle"> </span>
                <span class="auth-checkbox-text">Я даю согласие на обработку моих персональных данных.</span>
            </label>
            <button class="button-blue" type="submit" disabled>Зарегистрироваться</button>
        </form>
    </div>
    <div class="exists-account">
        <span>Есть аккаунт?</span>
        <a href="/login">Войти</a>
    </div>
</section>

<%- include('partials/catalog-modal') %>
<%- include('partials/categories-modal') %>

<%- include('partials/footer') %>
